@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap");

body {
  margin: 0px;
}

main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    hsla(41, 100%, 70%, 1) 0%,
    hsla(7, 76%, 47%, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 900px;
  height: 450px;
  display: flex;
  padding: 10px;
  background-color: #2b2b2b;
  border-radius: 6px;
}

.principal__imagem {
  width: 50%;
  display: flex;
  justify-content: center;
}

.principal__imagem__img {
  width: 50%;
  height: 100%;
}

.principal__conteudo {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.principal__conteudo__titulo {
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  color: #e0d1b8;
}

.principal__conteudo__descricao {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  color: #e0d1b8;
  margin: 12px 0px;
}

.principal__conteudo__formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

label {
  color: #e0d1b8;
  margin: 6px;
  font-family: "Oswald", sans-serif;
}

input {
  width: 4em;
  border-radius: 6px;
  border: none;
  height: 0.5em;
  outline: none;
  padding: 12px;
}

span {
  font-size: 14px;
}

.principal__conteudo__botao-envio {
  margin-top: 20px;
  width: 6em;
  border-radius: 8px;
  height: 2em;
  outline: none;
  background-color: #000000;
  color: #eeeeee;
  text-align: center;
  font-family: "Oswald", sans-serif;
}
